@import "node_modules/bootstrap/scss/bootstrap";

$font-primary:   SprintSansWeb,-apple-system,
				blinkmacsystemfont,Segoe UI,
				roboto,oxygen-sans,ubuntu,
				cantarell,Helvetica Neue,sans-serif;
$primary: #E90078;
$secondary: #FF1D91;
$light: #E9E600;

body {
	font-family: $font-primary;
	font-size: 14px;
	line-height: 1.8;
	font-weight: normal;
	background: #fafafa;
	color: lighten($black, 50%);
}
a {
	transition: 0.3s all ease;
	color: $primary;
	&:hover,
	&:focus {
		text-decoration: none !important;
		outline: none !important;
		box-shadow: none;
	}
}

.container-fluid{
	background-color: #F1F1F1;
}

button {
	padding: 10px 10px;
	background: $secondary;
	color: #fff;
	display: block;
	width: 120px;
	border: none;
	margin-top: 10px;
	margin-right: 18px;
	position: inherit;
	font-weight: bold;
	left: 0;
	bottom: 0;
	max-height: 60px;
	border: 0px solid rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	transform: rotateZ(0deg);
	transition: all 0.1s ease-out;
}

h1,
h2,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
	line-height: 1.5;
	font-weight: 400;
	font-family: $font-primary;
	color: $black;
}

h3 {
	line-height: 1;
	font-weight: 400;
	font-family: $font-primary;
	color: $black;
}

.ftco-section {
	padding: 7em 0;
}

.ftco-no-pt {
	padding-top: 0;
}
.ftco-no-pb {
	padding-bottom: 0;
}
//HEADING SECTION
.heading-section {
	font-size: 28px;
	color: $black;
	small {
		font-size: 18px;
	}
}

//COVER BG
.img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.navbar {
	padding: 15px 10px;
	background: #fff;
	border: none;
	border-radius: 0;
	
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
	box-shadow: none;
	outline: none !important;
	border: none;
}

.line {
	width: 100%;
	height: 1px;
	border-bottom: 1px dashed #ddd;
	margin: 40px 0;
}

//SIDEBAR
.wrapper {
	width: 100%;
}

#sidebar {
	min-width: 300px;
	max-width: 300px;
	background: #fff;
	color: #1c1c1c;
	transition: all 0.3s;
	padding-top: 10px;
	&.active {
		margin-left: -300px;
	}
	.overflow-auto{
		height: 543px;
		padding-right: 30px;
		// margin-bottom: 40px;
	}
	.logo {
		display: block;
		width: 120px;
		height: 120px;
		margin-left: 30px;
		span {
			display: block;
		}
	}
	ul.components {
		padding: 0;
	}
	ul {
		li {
			font-size: 16px;
			> ul {
				margin-left: 10px;
				li {
					font-size: 14px;
					> a{
						&:hover {
							color: $primary;
						}
						&.active-submenu{
							color: $primary;
						}
					}
				}
			}
			> a {
				padding: 10px 0;
				display: block;
				color: #1C1C1C;
				border-bottom: 1px solid rgba(255, 255, 255, 0.1);
				&:hover {
					color: $primary;
				}
				&.active{
					color: $primary;
					font-weight: bolder;
				}
			}
		
		}
	}
	@include media-breakpoint-down(md) {
		margin-left: -300px;
		&.active {
			margin-left: 0;
		}
	}
}

a[data-toggle="collapse"] {
	position: relative;
}

.dropdown-toggle::after {
	display: block;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

#sidebarCollapse {
	span {
		@include media-breakpoint-down(md) {
			display: none;
		}
	}
}

.btn {
	&.btn-primary {
		background: $primary;
		border-color: $primary;
		&:hover,
		&:focus {
			background: $primary !important;
			border-color: $primary !important;
		}
	}
}

.btn-group{
    position: relative;
	left: 415px;
	top: -8px;
}

.table-data{
	margin-top: 20px;
}

ag-grid-angular{
	width: 950px; height: 370px; border-left-style: none;
}

#header-image {
	//	background: url("src/assets/image/logo.jpg") 50% fixed;
	background-color: green;
}

img {
	width: 100px;
	height: 50px;
}
.announcements{
	width: 900px;
}