<app-header [userName]="userName"></app-header>
<div class="container-fluid">
    <div class="row">
        <nav id="sidebar">
            <div class="p-4 pt-5">
                <div class="overflow-auto">
                    <ngx-skeleton-loader count="10" *ngIf="userResponse.applications==null" appearance="line"></ngx-skeleton-loader>      
                    <ul class="list-unstyled components mb-5" role="menu"
                        *ngIf="userResponse.applications!=null">
                        <li *ngFor="let menu of userResponse.applications; let i=index">
                            <a href="#t{{menu.appId}}" data-toggle="collapse" aria-expanded="false"
                                class="dropdown-toggle" (click)="getMainMenuIndex(menu.appId);"
                                [class.active]="selectedMenuIndex===menu.appId">{{menu.appName}}</a>
                            <ul class="collapse list-unstyled" id="t{{menu.appId}}">
                                <li *ngFor="let task of menu.tasks; let i=index">
                                    <a href="#" (click)="getDatafromService(task);"
                                        [class.active-submenu]="selectedSubMenuIndex === task.taskId"
                                        [id]="task.taskId">{{task.taskName}}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>

        <!--  Content-->
        <div class="col-md-8" style="margin: 3%;">     
            <ngx-skeleton-loader count="10" *ngIf="skeletonAnnouncements" appearance="line"></ngx-skeleton-loader>      
            <div class="announcements" style="margin-top: 40px;" *ngIf="displayAnouncements">
                <h2>{{ tableName }}</h2>
                <div class="table-name" *ngFor="let char of rows">
                    <div>
                        <h3>{{char['NOTE_DT'] | date}}</h3>
                        <div class="border-top my-3">
                            <p>{{char['NOTE_TXT']}}</p>
                        </div>
                        <div> </div>
                    </div>
                </div>
            </div>

         <!--  data table-->
         <ngx-skeleton-loader count="10" *ngIf="skeletonDataTable" appearance="line"></ngx-skeleton-loader>
            <div class="table-data" *ngIf="showDataTable;">
                <h2>{{ tableName }}</h2>
                <ag-grid-angular #myGrid class="ag-theme-balham" [columnDefs]="columnDefs" [rowData]="rows"
                    [pagination]="true" [gridOptions]="gridOptions" [animateRows]="true">
                </ag-grid-angular>

                <div class="btn-group" role="group" aria-label="Basic example">
                    <button *ngFor="let action of actions | keyvalue" 
                            [attr.data-toggle]="action.value.data_toggle"
                            [attr.data-target]="action.value.data_target" 
                            (click)="loadComponent(action.value.gridActionType);">
                            <i [ngClass]="buttonIcon.get(action.value.buttonDisplayText)"></i>
                        &nbsp;&nbsp;{{action.value.buttonDisplayText}}
                    </button>
                </div>
            </div>


         <!--  modal form-->
            <div class="modal fade" *ngIf="isShowModalForm" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h4 class="modal-title w-100 ">
                                <p class="font-weight-bold" style="display: inline;">Add Record</p> ({{tableName}})
                            </h4>
                            <button type="button" class="close" #closebutton data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body mx-3">
                            <div class="table-components" 
                                style="background-color: #fff; padding: 20px;">
                                <form [formGroup]="addForm" class="form"  (ngSubmit)="saveRecord()">
                                    <div class="form-row" *ngFor="let field of columnDefs">
                                        <label for="{{field.field}}"
                                            style="font-weight: bold;">{{field.headerName}}</label>
                                        <input type="text" 
                                            class="form-control" 
                                            [id]="field.field"
                                            [name]="field.field"
                                            [formControlName]="field.field">

                                    </div>
                                    <button type="submit" class="btn btn-primary"  data-dismiss="modal" (click)="saveRecord();">Save</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #skeleton>
    <div class="item">
        <ngx-skeleton-loader count="10" appearance="line"></ngx-skeleton-loader>
    </div>
</ng-template>