<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark pink scrolling-navbar">
    <div class="pst-logo">
      <img src="{{APP_LOGO}}" alt="">
    </div>
    <button 
        class="navbar-toggler" 
        type="button" 
        data-toggle="collapse" 
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="user-name">
        <p>{{userName}}</p>
      </div>
      <div class="logout">
        <button 
            (click)="logout()" 
            class="btn btn-link">
            LOGOUT
        </button>
      </div>
      <div class="navbar-brand" href="#">    
        <img src="{{SPRINT_LOGO}}" alt="">
      </div>
    </div>
  </nav>
</header>