$primary: #e90078;
header {
    background: #fff;
    text-align: center;
    color: #000;
    font-weight: normal;
    font-size: 0.8em;
    padding: 0 40px 0 25px;
    margin-bottom: 5%;

    .user-name {
        margin-top: 30px;
        font-weight: normal;
        font-size: medium;

        p{
            font-weight: bolder;
        }
    }

    .logout{
        position: relative;top: 8px;
    }
}
img {
    width: 100px;
    //height: 70px;
    margin-left: 30%;
}
.nav-item .nav-link {
    color: black;
}
#navbarSupportedContent {
    position: absolute;
    left: 70%;
}
