<div class="container-fluid">
    <div class="row">
        <form class="login" [formGroup]="addForm" (ngSubmit)="onSubmit()">
            <div class="form-group" style="text-align: center;">
                <img src="{{APP_LOGO}}" alt="PST Web Logo" 
                    style="width: 240px;
                          height: 185px;">
            </div>
            <div *ngIf="addForm.get('username').hasError('required') && addForm.get('username').touched">
                <span style="color: #dc3545">Username is required</span>
            </div>
            <div class="form-group">
                <input type="text" 
                    formControlName="username" 
                    placeholder="Username" 
                    id="username" 
                    name="username"
                    class="form-control" autofocus />
                <i class="fa fa-user"></i>
            </div>
            <div *ngIf="addForm.get('password').hasError('required') && addForm.get('password').touched">
                <span style="color: #dc3545">Password is required</span>
            </div>
            <div *ngIf="addForm.get('password').errors?.minlength">
                <span style="color: #dc3545">Password must be 8 characters long</span>
            </div>
            <div class="form-group">
                <input type="password" 
                    formControlName="password" 
                    placeholder="Password" 
                    id="password" 
                    name="password"
                    class="form-control" />
                <i class="fa fa-key"></i>
            </div>
            <a href="#">Forgot your password?</a>
            <button>
                <span>Log in</span>
            </button>
        </form>
    </div>
</div>