$primary: #e90078;
$secondary: #ff1d91;
$light: #e9e600;

.login {
  border-radius: 2px 2px 5px 5px;
  padding: 10px 20px 50px 20px;
  width: 100%;
  max-width: 320px;
  background: #fff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 15%;
  left: 37%;

  input {
    display: block;
    padding: 15px 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ddd;
    transition: border-width 0.2s ease;
    border-radius: 2px;

    & + i.fa {
      color: #fff;
      font-size: 1em;
      position: absolute;
      margin-top: -38px;
      opacity: 0;
      left: 0;
      transition: all 0.1s ease-in;
    }

    &:focus {
      & + i.fa {
        opacity: 1;
        left: 30px;
        transition: all 0.25s ease-out;
      }
      outline: none;
      border-color: $primary;
      border-left-width: 35px;
    }
  }
  .title {
    margin-top: -50px;
    font-size: 1.2em;
    font-weight: bold;
  }
  button {
    width: 100%;
    height: 100%;
    background: $primary;
    color: #fff;
    display: block;
    border: none;
    margin-top: 20px;
    padding: 10px;
  }
}